*{
    margin: 0;
    padding: 0;

}
body{
    width: 100%;
    height: 100%;
}


.sidebar{
    width: 30%;
    height: 100%;
    border: 5px solid black;
}

.img__container{
    float: left;
}

.rover__img{
    margin: 5px 5px;
}

.sidebar__h1{
    font-size: 30px;
    margin: 10px;
}

.subline{
    width: 90%;
    border: 1px solid gray;
    margin: 10px 5px;
}